# Web Scraping Assignment 1

# Q 1 
Write a python program to disply all header tags from wikipedia

In [1]:
import pandas as pd
import bs4
import requests
from bs4 import BeautifulSoup 

response=requests.get("https://en.wikipedia.org/wiki/Main_Page")
print("Response_code is",response)
print('_'*30)
soup=BeautifulSoup(response.content)


headers=[]
for i in soup.find_all("span",class_="mw-headline"):
    headers.append(i.text)
    

header_1=[]
for i in soup.find_all("h2",class_="mp-h2"):
    header_1.append(i.text)
# article headers dataframe 1 
art_header=pd.DataFrame({"Header_1":header_1})
    
# all header dataframe 2
header_all=pd.DataFrame({"Header":headers})

Response_code is <Response [200]>
______________________________

In [2]:
header_all

                          Header
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5     From today's featured list
6       Today's featured picture
7       Other areas of Wikipedia
8    Wikipedia's sister projects
9            Wikipedia languages

In [3]:
art_header

                        Header_1
0  From today's featured article
1               Did you know ...
2                    In the news
3                    On this day
4     From today's featured list
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

# Q 2]
Write a python program to dispaly IMDB's top rated 100 movies data

In [4]:
page=requests.get("https://www.imdb.com/list/ls020728848/")
print("Response_code is",page)
print('_'*30)
soup1=BeautifulSoup(page.content)

name=[]
for i in soup1.find_all("h3",class_="lister-item-header"):
    name.append(i.text.split('\n')[2])
    
    
rating=[]
for i in soup1.find_all("div",class_="ipl-rating-star small"):
    rating.append(i.text.split('\n')[-2])
    
year=[]
for i in soup1.find_all("h3",class_="lister-item-header"):
    year.append(i.text.split('\n')[3])

Response_code is <Response [200]>
______________________________

In [5]:
top_100_movies=pd.DataFrame({'Movie_names':name,'Rating':rating,'Year_of_release':year},index=range(1,101))
top_100_movies

                  Movie_names Rating Year_of_release
1    The Shawshank Redemption    9.3          (1994)
2                Interstellar    8.6          (2014)
3               The Godfather    9.2          (1972)
4                  Apocalypto    7.8          (2006)
5                Pulp Fiction    8.9          (1994)
..                        ...    ...             ...
96              Before Sunset    8.1          (2004)
97             Kimi no na wa.    8.4          (2016)
98         The Maltese Falcon      8          (1941)
99           Django Unchained    8.4          (2012)
100              Barry Lyndon    8.1          (1975)

[100 rows x 3 columns]

# Q 3]
Write a python program to display IMDB's top rated 100 indian movies

In [6]:
request_page=requests.get("https://www.imdb.com/list/ls058898580/")
print("Response_code is",request_page)
print('_'*30)
soup1=BeautifulSoup(request_page.content)

ind_name=[]
for i in soup1.find_all("h3",class_="lister-item-header"):
    ind_name.append(i.text.split('\n')[2])
    
    
ind_rating=[]
for i in soup1.find_all("div",class_="ipl-rating-star small"):
    ind_rating.append(i.text.split('\n')[-2])
    
ind_year=[]
for i in soup1.find_all("h3",class_="lister-item-header"):
    ind_year.append(i.text.split('\n')[3])
       
top_100_Indian_movies=pd.DataFrame({'Indian_Movie_names':ind_name,'Rating':ind_rating,
                                    'Year_of_release':ind_year},index=range(1,101))
top_100_Indian_movies

Response_code is <Response [200]>
______________________________

           Indian_Movie_names Rating Year_of_release
1             Pather Panchali    8.3          (1955)
2                The Namesake    7.5          (2006)
3                   Aparajito    8.3          (1956)
4                   Jalsaghar    7.9          (1958)
5       The Cloud-Capped Star    7.9          (1960)
..                        ...    ...             ...
96                  Parineeta    7.2          (2005)
97   Hazaaron Khwaishein Aisi    7.9          (2003)
98                   Vidheyan    8.2          (1994)
99               Vanaprastham    8.2          (1999)
100               3 Deewarein    7.8          (2003)

[100 rows x 3 columns]

# Q 4] 
Write a python program to display list of respected former Presidents of India

In [7]:
page_pr=requests.get("https://presidentofindia.nic.in/former-presidents.htm")
print("Response_code is",page_pr)
print('_'*30)
soupp=BeautifulSoup(page_pr.content)

pr_name=[]
for i in soupp.find_all("h3"):
    pr_name.append(i.text.split(' (')[0])
    
period=[]
for i in soupp.find_all("p"):
    if ('Term' in i.text):
        period.append(i.text.split("'"))
        
term=[]
for sen in period:
    term.append(str(sen).split(':')[1])

    
Former_President=pd.DataFrame({'Name':pr_name,'Term of Office':term},index=range(1,len(term)+1))
Former_President

Response_code is <Response [200]>
______________________________

,Name,Term of Office
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017 ']"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012 ']"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007 ']"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002 ']"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997 ']"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992 ']"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987 ']"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982 ']"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977']"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969']"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967']"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962']"

# Q 5]
Write a python program for scraping cricket ranking from icc

a) Top 10 ODI teams in men's cricket

In [8]:
page1=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
page1

sop=BeautifulSoup(page1.content)

new_z=sop.find("tr",class_="rankings-block__banner").text.split("\n")

team=[]
for i in sop.find_all("tr",class_="table-body"):
    if len(team)<9:
        team.append(i.text.split('\n')[4])
        
rating=[]
for i in sop.find_all("tr",class_="table-body"):
    if len(rating)<9:
        rating.append(i.text.split('\n')[-2])

        
points=[]
for i in sop.find_all("tr",class_="table-body"):
    if len(points)<9:
        points.append(i.text.split('\n')[-3])  
        
matches=[]
for i in sop.find_all("tr",class_="table-body"):
    if len(matches)<9:
        matches.append(i.text.split('\n')[7])

In [9]:
# this block of code should executed once only while running first time 
team.insert(0,new_z[4])
matches.insert(0,new_z[7])
points.insert(0,new_z[8])
rating.insert(0,new_z[-5])

In [10]:
print(len(team))
print(len(matches))
print(len(points))

man_odi_teams=pd.DataFrame({'Team_name':team,'Matches':matches,'Points':points,'Rating':rating},index=range(1,11))
man_odi_teams

10
10
10

       Team_name Matches Points                           Rating
1    New Zealand      12  1,505                              125
2        England      19  2,353                              124
3      Australia      18  1,929                              107
4          India      22  2,304                              105
5       Pakistan      16  1,635                              102
6   South Africa      19  1,872                               99
7     Bangladesh      24  2,275                               95
8      Sri Lanka      24  2,086                               87
9    West Indies      26  1,885                               73
10   Afghanistan      15    986                               66

# Q 5 ] 
b) Top 10 ODI Batsman from men,s cricket

In [11]:
site=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")
print("response is",site)

code=BeautifulSoup(site.content)

bm=[]
for i in code.find_all("td",class_="table-body__cell name"):
    if len(bm)<9:
        bm.append(i.text.replace("\n",""))
        
country=[]
for i in code.find_all("span",class_='table-body__logo-text'):
    if len(country)<9:
        country.append(i.text)
        
rate=[]
for i in code.find_all("td",class_='table-body__cell u-text-right rating'):
    if len(rate)<9:
        rate.append(i.text)
        
top_bm=code.find("div",class_='rankings-block__banner--name').text

top_country=code.find('div' ,class_="rankings-block__banner--nationality").text.split('\n')[2]

top_rate=code.find('div' ,class_="rankings-block__banner--nationality").text.split('\n')[3].replace(" ",'')

response is <Response [200]>

In [12]:
# this block of code should executed once only while running first time 

bm.insert(0,top_bm)
country.insert(0,top_country)
rate.insert(0,top_rate)

In [13]:
for i in [bm,country,rate]:
    print(len(i))
    
top_odi_batsMen=pd.DataFrame({'player_name':bm,'Team':country,'Rating':rate},index=range(1,11))
top_odi_batsMen

10
10
10

              player_name Team Rating
1              Babar Azam  PAK    891
2             Virat Kohli  IND    811
3             Imam-ul-Haq  PAK    795
4            Rohit Sharma  IND    791
5         Quinton de Kock   SA    789
6          Jonny Bairstow  ENG    775
7             Ross Taylor   NZ    775
8   Rassie van der Dussen   SA    769
9            David Warner  AUS    750
10            Aaron Finch  AUS    745

# Q 5]
c) Top 10 ODI bowler from men,s cricket

In [14]:
page2=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
page2

conten=BeautifulSoup(page2.content)

top_bow=conten.find("div",class_='rankings-block__banner--name-large').text
top_bow_country=conten.find("div",class_="rankings-block__banner--nationality").text.replace('\n','')
top_rate=conten.find("div",class_='rankings-block__banner--rating').text

bow=[]
for i in conten.find_all("td", class_="table-body__cell rankings-table__name name"):
    if len(bow)<9:
        bow.append(i.text.replace('\n',''))
        
bow_country=[]
for i in conten.find_all("td",class_="table-body__cell nationality-logo rankings-table__team"):
    if len(bow_country)<9:
        bow_country.append(i.text.replace('\n',''))
        
bow_rate=[]
for i in conten.find_all("td",class_="table-body__cell rating"):
    if len(bow_rate)<9:
        bow_rate.append(i.text.replace('\n',''))

In [15]:
# this block of code should executed once only while running first time 

bow.insert(0,top_bow)
bow_country.insert(0,top_bow_country)
bow_rate.insert(0,top_rate)

In [16]:
for i in [bow,bow_country,bow_rate]:
    print(len(i))
    
top_bowler_odi=pd.DataFrame({'Bowler_name':bow,'Team':bow_country,'Rating':bow_rate},index=range(1,11))
top_bowler_odi

10
10
10

         Bowler_name                    Team Rating
1        Trent Boult  NZ                        726
2       Chris Woakes                     ENG    700
3     Josh Hazlewood                     AUS    698
4         Matt Henry                      NZ    683
5   Mujeeb Ur Rahman                     AFG    681
6     Jasprit Bumrah                     IND    679
7     Shaheen Afridi                     PAK    671
8       Mehedi Hasan                     BAN    661
9    Shakib Al Hasan                     BAN    657
10       Rashid Khan                     AFG    650

# Q 6]
Write a python pragram to scrape cricket ranking from icc women,s cricket  

 a)

In [17]:
response=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
response
soup=BeautifulSoup(response.content)

team=[]
for i in  soup.find_all('span',class_="u-hide-phablet"):
    if len(team)<10:
        team.append(i.text)
        
match=[]
point=[]
all_=[]
l=1
for i in  soup.find_all('td',class_="table-body__cell u-center-text"):
    if l<=18:
        all_.append(i.text)
    l+=1
    
for i in range(len(all_)):
    if i%2==0:
        match.append(all_[i])
    else:
        point.append(all_[i])
        
rate=[]
a=1
for i in  soup.find_all('td',class_="table-body__cell u-text-right rating"):
    if a<=9 :
        rate.append(i.text)
    a+=1    
    
    
top_match=soup.find('tr',class_="rankings-block__banner").text.split(sep='\n')[7]
top_point=soup.find('tr',class_="rankings-block__banner").text.split(sep='\n')[8]
top_rate=soup.find('tr',class_="rankings-block__banner").text.split(sep='\n')[10].replace(' ','')

In [18]:
# this block of code should executed once only while running first time 

match.insert(0,top_match)
point.insert(0,top_point)
rate.insert(0,top_rate)

In [19]:
for i in [match,point,rate]:
    print(len(i))

10
10
10

In [20]:
women_top_teams=pd.DataFrame({"Team_name":team,"Matches":match,"Points":point,"Rating":rate,},index=range(1,11))
women_top_teams

       Team_name Matches Points Rating
1      Australia      29  4,840    167
2   South Africa      28  3,504    125
3        England      30  3,533    118
4          India      29  2,878     99
5    New Zealand      31  3,030     98
6    West Indies      28  2,481     89
7     Bangladesh      12    936     78
8       Pakistan      26  1,752     67
9        Ireland       5    240     48
10     Sri Lanka       5    233     47

# Q 6 ]
b) Top 10 women's ODI batting players

In [21]:
response2=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
response2

page2=BeautifulSoup(response2.content)

play=[]
rank=0
for i in page2.find_all("td",class_="table-body__cell rankings-table__name name"):
    if rank<9:
        play.append(i.text.replace('\n',''))
    rank+=1    
    
nation=[]
rank=0
for i in page2.find_all("td",class_="table-body__cell nationality-logo rankings-table__team"):
    if rank<9:
        nation.append(i.text.replace('\n',''))
    rank+=1    
    
rate=[]
rank=0
for i in page2.find_all("td",class_="table-body__cell rating"):
    if rank<9:
        rate.append(i.text.replace('\n',''))
    rank+=1    
    
    
top_play=page2.find("div",class_="rankings-block__banner--name-large").text


top_nation=page2.find("div",class_="rankings-block__banner--nationality").text.replace('\n','')


top_rate=page2.find("div",class_="rankings-block__banner--rating").text

In [22]:
# this block of code should executed once only while running first time 

play.insert(0,top_play)
nation.insert(0,top_nation)
rate.insert(0,top_rate)

In [23]:
for i in [play,nation,rate]:
    print(len(i))

10
10
10

In [24]:
top_bat=pd.DataFrame({"Player name":play,"Team":nation,"Rating":rate},index=range(1,11))
top_bat

          Player name                     Team Rating
1        Alyssa Healy  AUS                        785
2      Natalie Sciver                      ENG    750
3         Beth Mooney                      AUS    748
4     Laura Wolvaardt                       SA    722
5         Meg Lanning                      AUS    710
6      Rachael Haynes                      AUS    701
7         Mithali Raj                      IND    686
8   Amy Satterthwaite                       NZ    681
9     Smriti Mandhana                      IND    669
10     Tammy Beaumont                      ENG    659

# Q 6]
c) Top 10 ODI all rounder women,s cricket

In [25]:
respo=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
respo
cont=BeautifulSoup(respo.content)

name=[]
inc=0
for i in cont.find_all("td",class_="table-body__cell rankings-table__name name"):
    if inc<9:
        name.append(i.text.replace('\n',''))
    inc+=1   
    
team=[]
inc=0
for i in cont.find_all("td",class_="table-body__cell nationality-logo rankings-table__team"):
    if inc<9:
        team.append(i.text.replace('\n',''))
    inc+=1    
    
rat=[]
inc=0
for i in cont.find_all("td",class_="table-body__cell rating"):
    if inc<9:
        rat.append(i.text.replace('\n',''))
    inc+=1    
    

top_name=cont.find("div",class_="rankings-block__banner--name-large").text


top_team=cont.find("div",class_="rankings-block__banner--nationality").text.replace('\n','')


top_rat=cont.find("div",class_="rankings-block__banner--rating").text

In [26]:
# this block of code should executed once only while running first time 

name.insert(0,top_name)
team.insert(0,top_team)
rat.insert(0,top_rat)

In [27]:
for i in [name,team,rat]:
    print(len(i))
    
top_all_rounder=pd.DataFrame({"Player name":name,"Team":team,"Rating":rat},index=range(1,11))
top_all_rounder

10
10
10

         Player name                     Team Rating
1     Natalie Sciver  ENG                        393
2       Ellyse Perry                      AUS    374
3     Marizanne Kapp                       SA    359
4    Hayley Matthews                       WI    338
5        Amelia Kerr                       NZ    335
6   Ashleigh Gardner                      AUS    269
7      Deepti Sharma                      IND    249
8      Jess Jonassen                      AUS    245
9    Katherine Brunt                      ENG    221
10    Jhulan Goswami                      IND    217

# Q 7]
Write a python program to scrape details from cnbc

In [28]:
req=requests.get("https://www.cnbc.com/world/?region=world")
req
soup=BeautifulSoup(req.content)

head=[]

for i in soup.find_all("a",class_="LatestNews-headline"):
    head.append(i.text)
    
link=[]

for i in soup.find_all("a",class_="LatestNews-headline"):
    link.append(i.get("href")) 
    
tim=[]

for i in soup.find_all("time",class_="LatestNews-timestamp"):
    tim.append(i.text)
    
for i in [head,link,tim]:
    print(len(i))

30
30
30

In [29]:
Latest_News=pd.DataFrame({"Headlines":head,"Time":tim,"News Links":link})
Latest_News

,Headlines,Time,News Links
0,"Friday's biggest analyst calls: Gap, Apple, Te...",15 Min Ago,https://www.cnbc.com/2022/05/27/friday-top-ana...
1,The Fed's preferred gauge shows inflation rose...,19 Min Ago,https://www.cnbc.com/2022/05/27/the-feds-prefe...
2,"Needham upgrades Boston Scientific to buy, say...",1 Hour Ago,https://www.cnbc.com/2022/05/27/needham-upgrad...
3,Stocks making the biggest moves premarket: Big...,1 Hour Ago,https://www.cnbc.com/2022/05/27/stocks-making-...
4,"Jefferies upgrades Ulta, says earnings are the...",2 Hours Ago,https://www.cnbc.com/2022/05/27/jefferies-upgr...
5,Morgan Stanley downgrades Gap after weak first...,2 Hours Ago,https://www.cnbc.com/2022/05/27/morgan-stanley...
6,"Credit Suisse downgrades Citi to neutral, says...",3 Hours Ago,https://www.cnbc.com/2022/05/27/credit-suisse-...
7,U.S. may send long-range rocket systems to Ukr...,3 Hours Ago,https://www.cnbc.com/2022/05/27/russia-ukraine...
8,Japan is finally seeing some inflation – but i...,3 Hours Ago,https://www.cnbc.com/2022/05/27/japan-is-final...
9,Treasury yields dip as key inflation metric sh...,4 Hours Ago,https://www.cnbc.com/2022/05/27/us-bonds-treas...
10,"Alibaba, Tencent and JD.com post their slowest...",5 Hours Ago,https://www.cnbc.com/2022/05/27/alibaba-tencen...
11,'We're in a bear market. And I think that's go...,5 Hours Ago,https://www.cnbc.com/2022/05/27/cryptocurrency...
12,"European stocks climb, on course for winning w...",6 Hours Ago,https://www.cnbc.com/2022/05/27/europe-markets...
13,"'Hypocrisy,' 'naivety' and 'greed': Europe chi...",7 Hours Ago,https://www.cnbc.com/2022/05/27/europe-lambast...
14,"Thousands of people are leaving Hong Kong, and...",7 Hours Ago,https://www.cnbc.com/2022/05/27/people-are-lea...
15,How to protect yourself against monkeypox and ...,7 Hours Ago,https://www.cnbc.com/2022/05/27/how-to-protect...
16,Airbus facility to research cryogenic fuel sys...,7 Hours Ago,https://www.cnbc.com/2022/05/27/airbus-sets-up...
17,This start-up is trying to help Indonesia's fi...,9 Hours Ago,https://www.cnbc.com/2022/05/27/indonesias-fis...
18,Goldman names its top tech giants to weather v...,12 Hours Ago,https://www.cnbc.com/2022/05/27/goldman-sachs-...
19,"Despite investor fears of a margin crunch, Cos...",12 Hours Ago,https://www.cnbc.com/2022/05/26/despite-fears-...
20,India wants to be the 'pharmacy of the world' ...,12 Hours Ago,https://www.cnbc.com/2022/05/27/india-needs-to...
21,Tech investor Paul Meeks says avoid this FAANG...,12 Hours Ago,https://www.cnbc.com/2022/05/27/tech-investor-...
22,Chipmaker Marvell posts solid earnings by turn...,13 Hours Ago,https://www.cnbc.com/2022/05/26/marvell-posts-...
23,Hong Kong's Hang Seng rises nearly 3%; Alibaba...,13 Hours Ago,https://www.cnbc.com/2022/05/27/asia-markets-a...
24,Stock futures rise on slowing inflation report...,15 Hours Ago,https://www.cnbc.com/2022/05/26/stock-market-f...
25,Best trades on CNBC Thursday: Pros react to re...,15 Hours Ago,https://www.cnbc.com/2022/05/26/best-trades-on...
26,"Monkeypox spreads to more than 20 countries, b...",15 Hours Ago,https://www.cnbc.com/2022/05/26/monkeypox-has-...
27,Rep. Castro asks FBI to investigate police res...,16 Hours Ago,https://www.cnbc.com/2022/05/26/texas-school-s...
28,Stocks making the biggest moves after hours: U...,16 Hours Ago,https://www.cnbc.com/2022/05/26/stocks-making-...
29,Twitter shareholders sue Elon Musk and Twitter...,16 Hours Ago,https://www.cnbc.com/2022/05/26/twitter-shareh...

# Q 8]
Write a python program

In [30]:
resp=requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")
print(resp)

soup=BeautifulSoup(resp.content)

url=[]
for i in soup.find_all("a",class_="sc-5smygv-0 nrDZj"):
    url.append(i.get("href"))
               
title=[]
for i in soup.find_all("a",class_="sc-5smygv-0 nrDZj"):
    title.append(i.text)
            
auth=[]
for i in soup.find_all("span",class_="sc-1w3fpd7-0 pgLAT"):
    auth.append(i.text)
               
p_date=[]
for i in soup.find_all("span",class_="sc-1thf9ly-2 bKddwo"):
    p_date.append(i.text)
               
AI_papers=pd.DataFrame({'Paper Title':title,'Authors':auth,'Published Date':p_date,'Paper URL':url},index=range(1,len(url)+1))
AI_papers

<Response [200]>

,Paper Title,Authors,Published Date,Paper URL
1,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
2,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
3,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
4,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
5,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
6,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
7,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
8,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
9,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
10,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
11,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
12,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
13,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
14,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
15,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
16,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
17,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
19,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
20,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
21,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
22,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
23,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
24,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
25,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

# Q 9]
Write python program to scrape details from dineout

In [31]:
reqs=requests.get('https://www.dineout.co.in/delhi-restaurants?search_str=all')
reqs

bea=BeautifulSoup(reqs.content)

#res_name=[]
#for i in bea.find_all("div",class_="restnt-info cursor"):
 #   anch=(i.find_all("a",class_="restnt-name ellipsis"))
  #  for j in anch:
   #     res_name.append(j.text)
        
rest=[]
for i in bea.find_all("a",class_="restnt-name ellipsis"):
    rest.append(i.text)
    
    
cuisine=[]
for i in bea.find_all("span",class_="double-line-ellipsis"):
    cuisine.append(i.text.split('|')[1])
    
loct=[]
for i in bea.find_all("div",'restnt-loc ellipsis'):
    loct.append(i.text)
    
rtn=[]
for i in bea.find_all("div",'restnt-rating rating-4'):
    rtn.append(i.text)
    
img_url=[]
for i in bea.find_all("img",class_="no-img"):
    img_url.append(i.get("data-src"))
    
DineOut=pd.DataFrame({"Restaurant_name":rest,"Cuisine":cuisine,"Location":loct,
              "Rating":rtn,"Image URL":img_url},index=range(1,len(rest)+1))
DineOut

,Restaurant_name,Cuisine,Location,Rating,Image URL
1,Local,"North Indian, Asian, Continental","Scindia House,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
2,Unplugged Courtyard,"North Indian, Italian, Chinese, Turkish, Cont...","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
3,The G.T. ROAD,North Indian,"M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,Ministry Of Beer,"North Indian, Continental, American, Asian","M-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
5,The Junkyard Cafe,"North Indian, Continental, Chinese, Fast Food","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
6,QBA,"North Indian, Continental, Italian","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
7,Connaught Clubhouse Microbrewery,"North Indian, Italian, Asian, European","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
8,High 5 - Everyday Wholesale Bar,"North Indian, Continental, Chinese","Connaught Place, Central Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
9,Out Of The Box Courtyard,"North Indian, Mediterranean, Chinese, Italian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
10,The Imperial Spice,"North Indian, Continental, Mughlai","M-Block,Connaught Place, Central Delhi",4.4,https://im1.dineout.co.in/images/uploads/resta...
11,Dasaprakash,"South Indian, Kerala, Continental, North Indi...","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,Dhaba Estd 1986 Delhi,"North Indian, Mughlai","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
13,Barbeque Nation,"North Indian, Chinese","Connaught Place, Central Delhi",4.4,https://im1.dineout.co.in/images/uploads/resta...
14,Station Bar,"Italian, Chinese, North Indian, Fast Food","F-Block,Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
15,Ghoomar Traditional Thali Restaurant,"North Indian, Rajasthani","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
16,Imperfecto,"Finger Food, Asian, Continental, North Indian","Janpath, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
17,Zaffran,"Mughlai, North Indian","Hotel Palace Heights,Connaught Place, Central ...",4.4,https://im1.dineout.co.in/images/uploads/resta...
18,Tamra,"Continental, European, North Indian","Shangri La Eros New Delhi,Janpath, Central Delhi",4.4,https://im1.dineout.co.in/images/uploads/resta...
19,Bella Rossa,"Asian, Chinese, Italian, North Indian","Vijay Nagar, North Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
20,Molecule Air Bar,"North Indian, Asian","Green Park, South Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
21,The Great Kabab Factory,"North Indian, Finger Food","Radisson Blu Marina,Connaught Place, Central D...",4.1,https://im1.dineout.co.in/images/uploads/resta...

# Q 10]
Write a python program to scrape details of top publications from Google Scholar

In [32]:
req10=requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')
req10

soup10=BeautifulSoup(req10.content)

rank=[]
for i in soup10.find_all("td",class_="gsc_mvt_p"):
    rank.append(i.text)
    
pub=[]
for i in soup10.find_all("td",class_="gsc_mvt_t"):
    pub.append(i.text)
    
index=[]
for i in soup10.find_all("a",class_="gs_ibl gsc_mp_anchor"):
    index.append(i.text)
    
median=[]
for i in soup10.find_all("span",class_="gs_ibl gsc_mp_anchor"):
    median.append(i.text)
    
Pub_details=pd.DataFrame({"Publication":pub,"h5-index":index,"h5-median":median},index=rank)  # Rank as  index
Pub_details

                                            Publication h5-index h5-median
1.                                               Nature      414       607
2.                  The New England Journal of Medicine      410       704
3.                                              Science      391       564
4.    IEEE/CVF Conference on Computer Vision and Pat...      356       583
5.                                           The Lancet      345       600
...                                                 ...      ...       ...
96.                             Frontiers in Immunology      134       177
97.                                               Small      134       173
98.                                   Nature Immunology      133       210
99.                                       JAMA Oncology      133       202
100.                               The Lancet Neurology      133       200

[100 rows x 3 columns]

In [33]:
Pub_=pd.DataFrame({"Rank":rank,"Publication":pub,"h5-index":index,"h5-median":median})
Pub_

    Rank                                        Publication h5-index h5-median
0     1.                                             Nature      414       607
1     2.                The New England Journal of Medicine      410       704
2     3.                                            Science      391       564
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      356       583
4     5.                                         The Lancet      345       600
..   ...                                                ...      ...       ...
95   96.                            Frontiers in Immunology      134       177
96   97.                                              Small      134       173
97   98.                                  Nature Immunology      133       210
98   99.                                      JAMA Oncology      133       202
99  100.                               The Lancet Neurology      133       200

[100 rows x 4 columns]