In [167]:
import pandas as pd
import numpy as np
from selenium import webdriver 
import warnings
warnings.filterwarnings("ignore")
import time

from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException

# Q 1

In [2]:
dr=webdriver.Chrome('C:\web driver\chromedriver.exe')

In [3]:
dr.get('http://www.naukri.com/')

In [4]:
search_skill=dr.find_element_by_class_name('suggestor-input ')
search_skill.send_keys("Data Analyst")

In [5]:
search_loc=dr.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input ')
search_loc.send_keys("Bangalore")

In [6]:
search_click=dr.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_click.click()

In [7]:
job_tag=dr.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[0:10]

print(len(job_tag))

10

In [8]:
loc_tag=dr.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1] ")[0:10]
print(len(loc_tag))

10

In [9]:
comp_tag=dr.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[0:10]
print(len(comp_tag))

10

In [10]:
exp_tag=dr.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")[0:10]
print(len(exp_tag))

10

# Q no. 1] DataFrame for Dat Analyst job by location Bangalore

In [11]:
jobs=[]
locs=[]
comps=[]
exps=[]

for i,l,c,e in zip(job_tag,loc_tag,comp_tag,exp_tag):
    jobs.append(i.text)
    locs.append(l.text)
    comps.append(c.text)
    exps.append(e.text)
    

df1=pd.DataFrame({'Job-Title':jobs,'Job-location':locs,'Company_name':comps,"Experience_required":exps})    
df1

,Job-Title,Job-location,Company_name,Experience_required
0,Business Data Analyst,Bangalore/Bengaluru,NXP Semiconductors,2-5 Yrs
1,EY GDS Data Analyst-Finland based project,Bangalore/Bengaluru,EY,0-1 Yrs
2,Data Analyst - Data and Analytics,Bangalore/Bengaluru,Intel,3-6 Yrs
3,Data Analyst - Data and Analytics,Bangalore/Bengaluru,Intel,3-6 Yrs
4,Data Analyst (CSD),Bangalore/Bengaluru,Siemens,2-6 Yrs
5,"Data Analyst - Data Science, 3 To 5 Years",Bangalore/Bengaluru,Rise Finconnect Private Limited,2-6 Yrs
6,Data Analyst / Business Analyst,Bangalore/Bengaluru,METRO Cash & Carry,3-8 Yrs
7,Data Analyst,Bangalore/Bengaluru,Cigna TTK,2-4 Yrs
8,SAS/SQL - Healthcare Data Analyst - Bangalore,Bangalore/Bengaluru,Genpact,7-10 Yrs
9,Business & Data Analyst - Alteryx (London),"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Imaginative Brains LLP,5-10 Yrs

In [12]:
dr.close()

# Q 2

In [13]:
dr2=webdriver.Chrome('C:\web driver\chromedriver.exe')

In [14]:
dr2.get('http://www.naukri.com/')

In [15]:
search_skill1=dr2.find_element_by_class_name('suggestor-input ')
search_skill1.send_keys("Data Scientist")

In [16]:
search_loc1=dr2.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input ')
search_loc1.send_keys("Bangalore")

In [17]:
search_click1=dr2.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_click1.click()

In [18]:
job_title=dr2.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[0:10]

print(len(job_title))

10

In [19]:
job_loc=dr2.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1] ")[0:10]
print(len(job_loc))

10

In [20]:
company=dr2.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[0:10]
print(len(company))

10

# Q no. 2 ] Datframe for Dat Scientist job by banglore location

In [21]:
job=[]
loc=[]
comp=[]


for i,l,c in zip(job_title,job_loc,company):
    job.append(i.text)
    loc.append(l.text)
    comp.append(c.text)
    

df2=pd.DataFrame({'Job-Title':job,'Job-location':loc,'Company_name':comp})    
df2

,Job-Title,Job-location,Company_name
0,Senior Data Scientist,"Mumbai, Bangalore/Bengaluru",Baker Hughes
1,Data Science - Engineering Manager,"Noida, Mumbai, Bangalore/Bengaluru",Paytm
2,AI Technologist Vacancy,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Wipro
3,Job Opening with Wipro For Data Scientist posi...,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang...",Wipro
4,DATA Scientist with Fraud Analytics Experience,Bangalore/Bengaluru,Concentrix Daksh Services
5,Data Scientist,Bangalore/Bengaluru,Applied Materials
6,Data Scientist,Bangalore/Bengaluru,Applied Materials
7,Data Scientist,Bangalore/Bengaluru,Applied Materials
8,Data Scientist,Bangalore/Bengaluru,Applied Materials
9,Principal - Data Scientist,Bangalore/Bengaluru,Schneider Electric

In [22]:
dr2.close()

# Q 3

In [41]:
dr3=webdriver.Chrome('C:\web driver\chromedriver.exe')

In [42]:
dr3.get('http://www.naukri.com/')

In [43]:
search_skill3=dr3.find_element_by_class_name('suggestor-input ')
search_skill3.send_keys("Data Scientist")

In [44]:
search_click3=dr3.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_click3.click()

In [45]:
loc_filter=dr3.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/i')
loc_filter.click()

In [46]:
time.sleep(5)
sal_filter=dr3.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/i")
sal_filter.click()

In [47]:
time.sleep(5)
tit=dr3.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[0:10]

print(len(tit))

10

In [48]:
time.sleep(5)
location=dr3.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1] ")[0:10]
print(len(location))

10

In [49]:

time.sleep(5)
org=dr3.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[0:10]
print(len(org))

10

In [50]:
time.sleep(5)
expert=dr3.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")[0:10]
print(len(expert))

10

# Q no. 3] DataFrame for Data scientist job by Delhi/NCR location and salary 3-6 lakhs

In [51]:
title=[]
locations=[]
orgs=[]
experts=[]
tit=dr3.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[0:10]
location=dr3.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1] ")[0:10]
org=dr3.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[0:10]
expert=dr3.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")[0:10]
for t,l,o,e in zip(tit,location,org,expert):
    title.append(t.text)
    locations.append(l.text)
    orgs.append(o.text)
    experts.append(e.text)
    

df3=pd.DataFrame({'Job-Title':title,'Job-location':locations,'Company_name':orgs,"Experience_required":experts})    
df3

,Job-Title,Job-location,Company_name,Experience_required
0,Job Opening with Wipro For Data Scientist posi...,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang...",Wipro,2-7 Yrs
1,Data Scientist - Machine learning AI,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Teq Analytics,3-8 Yrs
2,Data Scientist -Machine Learning with Python,"Noida, New Delhi, Gurgaon/Gurugram, Delhi / NCR",Genpact,1-4 Yrs
3,Data Scientist,"Pune, Gurgaon/Gurugram, Bangalore/Bengaluru",SS Supply Chain Solutions Pvt. Ltd. (3SC),2-5 Yrs
4,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
5,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
6,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
7,Data Scientist - Internet Jobs - II,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Jobs Territory,3-6 Yrs
8,Machine Learning Engineer | Data Engineer | Da...,"Chennai, Bangalore/Bengaluru, Delhi / NCR(Sect...",Tidyquant (OPC) Private Limited,1-3 Yrs
9,Hiring || Data Scientist || North Delhi || 5.5...,Delhi / NCR(Netaji Subhash Place),Shriram Automall India Limited,4-9 Yrs

In [52]:
dr3.close()

# Q 4]

In [53]:
dr4=webdriver.Chrome('C:\web driver\chromedriver.exe')

In [54]:
dr4.get('http://www.flipkart.com/')

In [55]:
time.sleep(5)
cancel_login=dr4.find_element_by_xpath("/html/body/div[2]/div/div/button")
cancel_login.click()

In [56]:

search_bar1=dr4.find_element_by_class_name("_3704LK")
search_bar1.send_keys('sunglasses')

In [57]:

search_but1=dr4.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_but1.click()

In [58]:
time.sleep(5)
brand_tag=dr4.find_elements_by_xpath("//div[@class='_2WkVRV']")
len(brand_tag)

40

In [59]:
desc_tag=dr4.find_elements_by_xpath("//a[@class='IRpwTa']")
len(desc_tag)

40

In [60]:
price_tag=dr4.find_elements_by_xpath("//div[@class='_30jeq3']")
len(price_tag)

40

In [61]:
offer_tag=dr4.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
len(offer_tag)

40

In [62]:
brand=[]
desc=[]
offer=[]
price=[]

for g in range(3): 
    brand_tag=dr4.find_elements_by_xpath("//div[@class='_2WkVRV']")
    desc_tag=dr4.find_elements_by_xpath("//a[@class='IRpwTa']")
    price_tag=dr4.find_elements_by_xpath("//div[@class='_30jeq3']")
    offer_tag=dr4.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

    for i,j,k,l in zip(brand_tag,desc_tag,price_tag,offer_tag):
        if len(brand)<100:
            brand.append(i.text)
            desc.append(j.text)
            price.append(k.text)
            offer.append(l.text)
        else:
            break
         
    next_but=dr4.find_elements_by_xpath("//a[@class='_1LKTO3']")
    next_but[-1].click()   
    time.sleep(10)

# Q no. 4] DtaFrame for sunglasses from flipkart

In [63]:
df4=pd.DataFrame({'Brand':brand,'Product_Description':desc,'Price':price,"Offer ":offer},index=range(1,101))    
df4

,Brand,Product_Description,Price,Offer
1,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹664,77% off
2,ROZZETTA CRAFT,UV Protection Round Sunglasses (Free Size),₹399,85% off
3,SRPM,UV Protection Wayfarer Sunglasses (50),₹211,83% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799,20% off
5,PIRASO,UV Protection Aviator Sunglasses (54),₹249,84% off
...,...,...,...,...
96,ROYAL SON,"UV Protection, Gradient Butterfly, Over-sized ...",₹699,65% off
97,CRYSTAL CART,"Polarized, UV Protection Retro Square Sunglass...",₹319,75% off
98,Fastrack,UV Protection Aviator Sunglasses (57),₹635,20% off
99,GHAWK,UV Protection Rectangular Sunglasses (Free Size),₹299,70% off
100,AISLIN,"UV Protection, Gradient Oval Sunglasses (58)",₹498,67% off

In [64]:
dr4.close()

# Q 5]

In [65]:
dr5=webdriver.Chrome('C:\web driver\chromedriver.exe')

In [66]:
# The below website link have provided to me by sme , In reply of raised ticket

In [67]:


dr5.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART')

In [68]:
time.sleep(5)
summ_tag=dr5.find_elements_by_xpath("//p[@class='_2-N8zT']")
rev_tag=dr5.find_elements_by_xpath("//div[@class='t-ZTKy']")
rat_tag=dr5.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")

In [69]:
print(len(summ_tag),len(rat_tag),len(rev_tag))

10 10 10

In [70]:
len(summ_tag)==len(rat_tag)==len(rev_tag)

True

In [71]:
summary=[]
rating=[]
review=[]


for g in range(11): 
    summ_tag=dr5.find_elements_by_xpath("//p[@class='_2-N8zT']")
    rev_tag=dr5.find_elements_by_xpath("//div[@class='t-ZTKy']")
    rat_tag=dr5.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for s,rv,r in zip(summ_tag,rev_tag,rat_tag):
        if len(summary)<100:
            summary.append(s.text)
            review.append(rv.text)
            rating.append(r.text)
            
    nxt_but5=dr5.find_elements_by_xpath("//a[@class='_1LKTO3']")
    nxt_but5[-1].click()
    time.sleep(10)

In [72]:
len(rating)==len(summary)==len(review)

True

# Q no. 5] Dataframe for iphone 11 review from flipkart

In [73]:
df5=pd.DataFrame({'Review_summary':summary,'Full_Review':review,'Rating':rating})
df5

,Review_summary,Full_Review,Rating
0,Simply awesome,Really satisfied with the Product I received.....,5
1,Best in the market!,Great iPhone very snappy experience as apple k...,5
2,Perfect product!,Amazing phone with great cameras and better ba...,5
3,Worth every penny,Previously I was using one plus 3t it was a gr...,5
4,Highly recommended,What a camera .....just awesome ..you can feel...,5
...,...,...,...
95,Worth every penny,Undoubtedly Iphone 11 is the most successful m...,5
96,Best in the market!,Don’t expect much from front camera… especiall...,5
97,Fabulous!,I purchased the iPhone 11 a month back. I must...,5
98,Mind-blowing purchase,Absolutely powerful gadget. Loved it’s look! S...,5
99,Awesome,Can’t beat the software and hardware integrati...,5

In [74]:
dr5.close()

# Q 6]

In [75]:
dr6=webdriver.Chrome('C:\web driver\chromedriver.exe')

In [76]:
dr6.get('https://www.flipkart.com/')

In [77]:
time.sleep(5)
cancel_login6=dr6.find_element_by_xpath("/html/body/div[2]/div/div/button")
cancel_login6.click()

In [78]:
search_bar6=dr6.find_element_by_class_name("_3704LK")
search_bar6.send_keys('sneakers')

In [79]:
search_but6=dr6.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_but6.click()

In [80]:
time.sleep(5)
brand_tag6=dr6.find_elements_by_xpath("//div[@class='_2B099V']")
pr_tag6=dr6.find_elements_by_xpath("//div[@class='_30jeq3']")
off_tag6=dr6.find_elements_by_xpath("//div[@class='_3Ay6Sb']")

In [81]:
sn_brand=[]
desc=[]
pric=[]
off=[]
for g in range(3):
    brand_tag6=dr6.find_elements_by_xpath("//div[@class='_2B099V']")
    pr_tag6=dr6.find_elements_by_xpath("//div[@class='_30jeq3']")
    off_tag6=dr6.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    for i,p,n in zip(brand_tag6,pr_tag6,off_tag6):
        if len(sn_brand)<100:
            sn_brand.append(i.text.split('\n')[0])
            desc.append(i.text.split('\n')[1])
            pric.append(p.text)
            off.append(n.text)
    nxt6=dr6.find_elements_by_xpath("//a[@class='_1LKTO3']")        
    nxt6[-1].click()
    time.sleep(5)

In [82]:
len(sn_brand)==len(desc)==len(pric)==len(off)

True

# Q no.6] Data frame for sneakers data from flipkart

In [83]:
df6=pd.DataFrame({'Brand':sn_brand,'Product_Description':desc,"Price":pric,"offer":off})
df6

,Brand,Product_Description,Price,offer
0,NAUTICA,Nautica Men Blue Sneakers Sneakers For Men,"₹1,169",74% off
1,NAUTICA,Sneakers For Men,"₹1,324",75% off
2,Magnolia,Sneakers For Men,₹374,62% off
3,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹299,76% off
4,Layasa,Sneakers For Men,₹399,60% off
...,...,...,...,...
95,Kraasa,Boom Sneakers For Men,₹611,69% off
96,U.S. POLO ASSN.,Sneakers For Men,"₹1,799",40% off
97,luxury fashion,Fashionable sneaker shoes Sneakers For Men,₹449,77% off
98,revord,Sneakers For Men,₹249,50% off
99,Chevit,Unique & Perfect Collection Combo Pack of 02 S...,₹474,68% off

In [84]:
dr6.close()

# Q 7]

In [85]:
dr7=webdriver.Chrome('C:\web driver\chromedriver.exe')

In [86]:
time.sleep(5)
dr7.get("http://www.myntra.com/shoes")

In [87]:
time.sleep(5)
sel_price7=dr7.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
sel_price7.click()

In [88]:
sel_color7=dr7.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
sel_color7.click()

In [89]:
brandtag=dr7.find_elements_by_xpath("//h3[@class='product-brand']")
len(brandtag)

50

In [90]:
desctag=dr7.find_elements_by_xpath("//h4[@class='product-product']")
len(desctag)

50

In [91]:
pricetag=dr7.find_elements_by_xpath("//div[@class='product-price']")
len(pricetag)

50

In [93]:
brand_list=[]
desc_list=[]
price_list=[]

for g in range(2):
    brandtag=dr7.find_elements_by_xpath("//h3[@class='product-brand']")
    desctag=dr7.find_elements_by_xpath("//h4[@class='product-product']")
    pricetag=dr7.find_elements_by_xpath("//div[@class='product-price']")
    
    for b,d,p in zip(brandtag,desctag,pricetag):
        if len(brand_list)<100:
            br=b.text
            brand_list.append(br)
            des=d.text
            desc_list.append(des)
            pr=p.text.split("Rs")[1].replace('.',"Rs")
            price_list.append(pr)
    time.sleep(5)
    next_button=dr7.find_element_by_class_name('pagination-next')
    next_button.click()
    time.sleep(10)

In [94]:
len(brand_list)==len(desc_list)==len(price_list)

True

# Q no.7] Dataframe for shoes from myntra scraped data

In [95]:
df7=pd.DataFrame({'Product_Brand':brand_list,"Product_description":desc_list,"Price":price_list})
df7

      Product_Brand           Product_description     Price
0              Nike          Men Basketball Shoes  Rs 15635
1          Red Tape             Men Walking Shoes   Rs 1469
2          Red Tape             Men Running Shoes   Rs 1649
3            ADIDAS  Men FleeceWalk Walking Shoes   Rs 2639
4        Eego Italy            Men Trekking Shoes    Rs 987
..              ...                           ...       ...
95      Sir Corbett             Semi-Formal Shoes    Rs 914
96         Skechers   Women GO Walk Ultra Walking   Rs 4499
97  U.S. Polo Assn.  Men LEBRON 2.0 Walking Shoes   Rs 2999
98      one8 x PUMA  Unisex SoftRide Rift Walking   Rs 3899
99         Provogue      Men Solid Formal Loafers    Rs 879

[100 rows x 3 columns]

In [96]:
dr7.close()

# Q 8]

In [133]:
dr8=webdriver.Chrome('C:\web driver\chromedriver.exe')

In [134]:
dr8.get("https://www.amazon.in/")

In [135]:
time.sleep(7)    
search_bar8=dr8.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input ")
search_bar8.send_keys('Laptop')

In [136]:
search_but8=dr8.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_but8.click()

In [137]:
time.sleep(7)    
try:
    path8=("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[13]/span/a")
    sel_cpu8=dr8.find_element_by_xpath(path8) 
    sel_cpu8.click() #/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[13]/span/a/div/label/i
except StaleElementReferenceExceptions as e:
    print("Exception Raised :",e)
    path8=("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[13]/span/a/div/label/i")
    sel_cpu8=dr8.find_element_by_xpath(path8) 
    sel_cpu8.click()

In [138]:
# trials for scraping rating of laptop
time.sleep(7)    
rat_tag8=dr8.find_elements_by_xpath("//span[@class='a-icon-alt']")
rating8=[]
for i in rat_tag8:
    rating8.append(i.text)

In [139]:

tit8=[]

pri8=[]
#for g in range(2):
title8=dr8.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
price8=dr8.find_elements_by_xpath("//span[@class='a-price-whole']")
for t,p in zip(title8,price8):
    if len(tit8)<10:
        tit8.append(t.text)
        pri8.append(p.text)

* I have not scrape data for rating due to not getting suitable class, which was also  repied by sme in Raised ticket

In [140]:
len(tit8)==len(pri8)

True

# Qno. 8] Dataframe for laptop info in amazon

In [141]:
df8=pd.DataFrame({'Title':tit8,"Price":pri8})
df8

                                               Title     Price
0  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...    93,100
1  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...    83,990
2  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...    57,490
3  Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14...    74,511
4  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    86,990
5  ASUS Vivobook X515JA-EJ701WS Intel Core I7-106...    57,290
6  HP Pavilion x360 11th Gen Intel Core i7 14 inc...    84,490
7  HP Pavilion 14 11th Gen Intel Core i7 16GB/1TB...    93,000
8  HP Victus 11th Gen Intel Core i7-11800H 16.1-i...  1,20,062
9  ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...    85,990

In [142]:
dr8.close()

# Q 9]

In [143]:
dr9=webdriver.Chrome('C:\web driver\chromedriver.exe')

In [144]:
time.sleep(5)
dr9.get("http://www.ambitionbox.com/")

In [145]:
time.sleep(5)
job_but9=dr9.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
job_but9.click()

In [146]:
path91="/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input"
search_bar9=dr9.find_element_by_xpath(path91)
search_bar9.send_keys("Data Scientist")

In [147]:
path92="/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span"
search_but9=dr9.find_element_by_xpath(path92)
search_but9.click()

In [148]:
time.sleep(5)
loct_but9=dr9.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p")
loct_but9.click()

In [149]:
time.sleep(5)
path93="/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input"
search_loc9=dr9.find_element_by_xpath(path93)
search_loc9.send_keys("Noida")

In [150]:

time.sleep(5)
path94="/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label"
noida_but9=dr9.find_element_by_xpath(path94)
noida_but9.click()

In [151]:
time.sleep(5)

tit9=[]
day9=[]
rat9=[]
comp9=[]
title9=dr9.find_elements_by_xpath("//a[@class='title noclick']")
day_tag9=dr9.find_elements_by_xpath("//span[@class='body-small-l'][1]")
rating9=dr9.find_elements_by_xpath("//span[@class='body-small']")
comp_tag9=dr9.find_elements_by_xpath("//p[@class='company body-medium']")
for i,d,r,c in zip(title9,day_tag9,rating9,comp_tag9):
    tit9.append(i.text)
    day9.append(d.text)
    rat9.append(r.text)
    comp9.append(c.text)

In [152]:
len(tit9)==len(day9)==len(rat9)==len(comp9)

True

# Q no. 9] Dataframe for job adds in ambiton box for Noida

* Be patient at this satge sometime it generates emty dataframe retry again !

In [153]:
df9=pd.DataFrame({'Job Title':tit9,"Company Name":comp9,'Rating of company':rat9,"Number of days ago job posted ":day9})
df9

,Job Title,Company Name,Rating of company,Number of days ago job posted
0,Data Scientist,GENPACT India Private Limited,4.0,9d ago
1,Senior Data Scientist,Optum Global Solutions (India) Private Limited,4.2,17d ago
2,Data Scientist -Machine Learning with Python,GENPACT India Private Limited,4.0,16d ago
3,Data Scientist - OIP,Hcl Technologies Limited,3.9,19d ago
4,Data Scientist- AI/ML- R&D,EXL Services.com ( I ) Pvt. Ltd.,3.9,29d ago
5,Data Science - Lead Data Scientist,Paytm,3.7,12d ago
6,Data Scientist (Python) Immediate Joiners,Om Software Internet Solutions Private Limited,4.5,20d ago
7,Data Scientist - Associate Vice President,Paytm,3.7,30d ago
8,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,3.3,17d ago
9,Data Scientist,Ashkom Media India Private Limited,3.5,16d ago

In [154]:
dr9.close()

#  Q 10]

In [173]:
dr10=webdriver.Chrome("C:\web driver\chromedriver.exe")

In [174]:
dr10.get("https://www.ambitionbox.com/")

In [175]:
salary_tab=dr10.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]")
salary_tab.click()

In [176]:
search_bar10=dr10.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
search_bar10.send_keys("Data Scientist")

In [177]:
time.sleep(5)
try:
    ds=dr10.find_element_by_xpath("//div[@class='top-row'][1]")
    ds.click()

except ElementNotInteractableException as e: 
    print("Exception error",e)
    ds=dr10.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div')
    ds.click()

In [178]:
comp10=[]
totsal10=[]
exp10=[]
avg10=[]
min10=[]
max10=[]

comp_tag10=dr10.find_elements_by_xpath("//div[@class='name']/a")
totsal_tag10=dr10.find_elements_by_xpath("//div[@class='name']/span")
exp_tag10=dr10.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
avg_tag10=dr10.find_elements_by_xpath("//p[@class='averageCtc']")
min_tag10=dr10.find_elements_by_xpath("//div[@class='value body-medium'][1]")
max_tag10=dr10.find_elements_by_xpath("//div[@class='value body-medium'][2]")

for c,t,e,a,mn,mx in zip(comp_tag10,totsal_tag10,exp_tag10,avg_tag10,min_tag10,max_tag10):
    comp10.append(c.text)
    totsal10.append(t.text)
    exp10.append(e.text.split('\n')[-1])
    avg10.append(a.text)
    min10.append(mn.text)
    max10.append(mx.text)

# Q no. 10] DataFrame for Data Scientist salary by organization or firm

In [179]:
df10=pd.DataFrame({"Company Name":comp10,"Total Salary Record":totsal10,"Experience Required":exp10,
                "Average Salary":avg10,"Minimum Salary":min10,"Maximum Salary":max10})

df10

,Company Name,Total Salary Record,Experience Required,Average Salary,Minimum Salary,Maximum Salary
0,Walmart,based on 12 salaries,3 yrs exp,₹ 30.2L,₹ 25.0L,₹ 36.0L
1,Ab Inbev,based on 33 salaries,3-4 yrs exp,₹ 20.6L,₹ 15.0L,₹ 25.5L
2,American Express,based on 10 salaries,4 yrs exp,₹ 19.9L,₹ 14.1L,₹ 25.0L
3,ZS,based on 15 salaries,2 yrs exp,₹ 16.7L,₹ 11.0L,₹ 22.0L
4,Optum,based on 33 salaries,3-4 yrs exp,₹ 16.1L,₹ 11.0L,₹ 22.6L
5,Reliance Jio,based on 21 salaries,3-4 yrs exp,₹ 15.7L,₹ 5.6L,₹ 26.2L
6,Fractal Analytics,based on 83 salaries,2-4 yrs exp,₹ 15.4L,₹ 10.0L,₹ 22.0L
7,Tiger Analytics,based on 50 salaries,2-4 yrs exp,₹ 14.8L,₹ 9.0L,₹ 20.0L
8,UnitedHealth,based on 57 salaries,2-4 yrs exp,₹ 14.0L,₹ 8.3L,₹ 21.1L
9,EXL Service,based on 10 salaries,4 yrs exp,₹ 13.3L,₹ 8.9L,₹ 21.0L

In [180]:
dr10.close()