In [1]:
import pandas as pd
import numpy as np
from selenium import webdriver 
import warnings
warnings.filterwarnings("ignore")
import time
import requests

from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import TimeoutException

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
import re

# Q1

In [2]:
dr1=webdriver.Chrome('C:\web driver\chromedriver.exe')
dr1.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
dr1.maximize_window()
time.sleep(5)

columns=['Rank','Name','Artist','Views(in Billions)','Upload date']
Dict1={}
for column,index in zip(columns,range(1,6)):
    tag1=dr1.find_elements("xpath","//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[{}]".format(index))
    print(index,' : ',len(tag1))
    Dict1[column]=[]
    for i in tag1:
        Dict1[column].append(i.text)
    
df1=pd.DataFrame(Dict1)
df1

1  :  30
2  :  30
3  :  30
4  :  30
5  :  30

,Rank,Name,Artist,Views(in Billions),Upload date
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,10.92,"June 17, 2016"
1,2.,"""Despacito""[6]",Luis Fonsi,7.90,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,6.39,"October 8, 2016"
3,4.,"""Shape of You""[13]",Ed Sheeran,5.76,"January 30, 2017"
4,5.,"""See You Again""[15]",Wiz Khalifa,5.56,"April 6, 2015"
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,5.50,"May 2, 2018"
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,4.71,"March 6, 2014"
7,8.,"""Uptown Funk""[22]",Mark Ronson,4.62,"November 19, 2014"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,4.59,"February 27, 2018"
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,4.50,"January 31, 2012"
10,11.,"""Gangnam Style""[25]",Psy,4.47,"July 15, 2012"
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,4.18,"May 24, 2018"
12,13.,"""Dame Tu Cosita""[31]",El Chombo,3.97,"April 5, 2018"
13,14.,"""Sugar""[32]",Maroon 5,3.72,"January 14, 2015"
14,15.,"""Roar""[33]",Katy Perry,3.61,"September 5, 2013"
15,16.,"""Counting Stars""[34]",OneRepublic,3.60,"May 31, 2013"
16,17.,"""Sorry""[35]",Justin Bieber,3.56,"October 22, 2015"
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,3.47,"October 7, 2014"
18,19.,"""Axel F""[37]",Crazy Frog,3.42,"June 16, 2009"
19,20.,"""Girls Like You""[38]",Maroon 5,3.31,"May 31, 2018"
20,21.,"""Faded""[39]",Alan Walker,3.30,"December 3, 2015"
21,22.,"""Dark Horse""[40]",Katy Perry,3.30,"February 20, 2014"
22,23.,"""Baa Baa Black Sheep""[41]",Cocomelon – Nursery Rhymes,3.28,"June 25, 2018"
23,24.,"""Let Her Go""[42]",Passenger,3.26,"July 25, 2012"
24,25.,"""Bailando""[43]",Enrique Iglesias,3.23,"April 11, 2014"
25,26.,"""Lean On""[44]",Major Lazer,3.23,"March 22, 2015"
26,27.,"""Perfect""[45]",Ed Sheeran,3.20,"November 9, 2017"
27,28.,"""Shake It Off""[46]",Taylor Swift,3.19,"August 18, 2014"
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,3.18,"June 4, 2010"
29,30.,"""Mi Gente""[48]",J Balvin,3.10,"June 29, 2017"

In [3]:
df1.to_csv("Most Viewed YouTube video.csv")
dr1.close()

# Q2

In [4]:
dr2=webdriver.Chrome('C:\web driver\chromedriverupdated1.exe')
dr2.get('https://www.bcci.tv/')
dr2.maximize_window()
time.sleep(5)

inter=dr2.find_element("xpath","//li[@class='nav-item'][1]")
inter.click()
time.sleep(10)

Dict2={}
Dict2['Match Titles']=[]
Dict2['Series']=[]
Dict2['Places']=[]
Dict2["Date"]=[]
Dict2['Time']=[]

titl_tag=dr2.find_elements("xpath","//div[@class='fix-place ng-binding ng-scope']")
ser_tag=dr2.find_elements("xpath","//h5[@class='fix-text'][2]")
date_tag=dr2.find_elements("xpath","//div[@class='match-card-left match-schedule']")
time_tag=dr2.find_elements("xpath","//div[@class='match-card-right match-schedule ']")
for t,s,d,m in zip(titl_tag,ser_tag,date_tag,time_tag):
    Dict2['Match Titles'].append(t.text.split('-')[0])
    Dict2['Series'].append(s.text)
    Dict2['Places'].append(t.text.split('-')[1])
    Dict2["Date"].append(d.text)
    Dict2["Time"].append(m.text)
    time.sleep(5)
    
df2=pd.DataFrame(Dict2)
df2

,Match Titles,Series,Places,Date,Time
0,2nd ODI,INDIA TOUR OF ENGLAND ODI SERIES 2022,"Lord's Cricket Ground, London",14 JUL 2022,5:30 PM IST
1,3rd ODI,INDIA TOUR OF ENGLAND ODI SERIES 2022,"Old Trafford, Manchester",17 JUL 2022,3:30 PM IST
2,1st ODI,INDIA TOUR OF WEST INDIES ODI SERIES 2022,"Queens Park Oval, Trinidad",22 JUL 2022,7:00 PM IST
3,2nd ODI,INDIA TOUR OF WEST INDIES ODI SERIES 2022,"Queens Park Oval, Trinidad",24 JUL 2022,7:00 PM IST
4,3rd ODI,INDIA TOUR OF WEST INDIES ODI SERIES 2022,"Queens Park Oval, Trinidad",27 JUL 2022,7:00 PM IST
5,1st T20I,INDIA TOUR OF WEST INDIES T20 SERIES 2022,"Brian Lara Stadium, Trinidad",29 JUL 2022,8:00 PM IST
6,2nd T20I,INDIA TOUR OF WEST INDIES T20 SERIES 2022,"Warner Park, St Kitts",1 AUG 2022,8:00 PM IST
7,3rd T20I,INDIA TOUR OF WEST INDIES T20 SERIES 2022,"Warner Park, St Kitts",2 AUG 2022,8:00 PM IST

In [5]:
df2.to_csv("India's International Fixtures.csv")
dr2.close()

# Q 3

In [8]:
dr3=webdriver.Chrome('C:\web driver\chromedriverupdated1.exe')
dr3.get('https://www.guru99.com/')
dr3.maximize_window()
time.sleep(5)

sele=dr3.find_element_by_link_text("Selenium")
sele.click()
time.sleep(10)

exce=dr3.find_element("xpath","/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a")
url8=exce.get_attribute("href")
dr3.get(url8)
time.sleep(10)

Dict3={}
Dict3["Exception Name"]=[]
Dict3["Description"]=[]
columns3=["Exception Name","Description"]
for column,index in zip(columns3,range(1,3)):
    tag3=dr3.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[{}]".format(index))
    for i in tag3:
        Dict3[column].append(i.text)
df3=pd.DataFrame(Dict3)        
df3

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [9]:
df3.to_csv("Selenium Exceptions.csv")

In [10]:
dr3.close()

# Q 4

In [11]:
dr4=webdriver.Chrome('C:\web driver\chromedriverupdated1.exe')
dr4.get('http://statisticstimes.com/')
dr4.maximize_window()
time.sleep(5)

ind=dr4.find_element("xpath","/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
url=ind.get_attribute('href')
dr4.get(url)
time.sleep(10)

state=dr4.find_element("xpath","/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
url2=state.get_attribute('href')
dr4.get(url2)
time.sleep(10)

columns4=['Rank','State',' GSDP(19-20)',' GSDP(18-19)','Share','GDP($ billion)']
Dict4={}
for column,index in zip(columns4,range(1,7)):
    tag4=dr4.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[{}]".format(index))
    print(index,' : ',len(tag4))
    Dict4[column]=[]
    for i in tag4:
        Dict4[column].append(i.text)
    
df4=pd.DataFrame(Dict4)
df4

1  :  33
2  :  33
3  :  33
4  :  33
5  :  33
6  :  33

,Rank,State,GSDP(19-20),GSDP(18-19),Share,GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [12]:
df4.to_csv("Indian states by GSDP.csv")
dr4.close()

# Q 5

In [13]:
dr5=webdriver.Chrome('C:\web driver\chromedriverupdated1.exe')
dr5.get('https://github.com/')
dr5.maximize_window()
time.sleep(5)

trend=dr5.find_element("xpath","/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
url5=trend.get_attribute('href')
dr5.get(url5)
time.sleep(10)

title_tag=dr5.find_elements("xpath","//h1[@class='h3 lh-condensed']")
desc_tag=dr5.find_elements("xpath","//p[@class='col-9 color-fg-muted my-1 pr-4']")
lan_tag=dr5.find_elements("xpath","//div[@class='f6 color-fg-muted mt-2']/span[1]")
cont_tag=dr5.find_elements("xpath","//div[@class='f6 color-fg-muted mt-2']/a[2]")
Dict5={}
Dict5['Repository Title']=[]
Dict5['Repository description']=[]
Dict5['Contributors count']=[]
Dict5['Language used']=[]
for t,d,c,l in zip(title_tag,desc_tag,cont_tag,lan_tag):
    Dict5['Repository Title'].append(t.text)
    Dict5['Repository description'].append(d.text)
    Dict5['Contributors count'].append(c.text)
    if 'Built' in l.text:
        Dict5['Language used'].append('-')
    else:
        Dict5['Language used'].append(l.text)
        
df5=pd.DataFrame(Dict5)          
df5

,Repository Title,Repository description,Contributors count,Language used
0,EbookFoundation / free-programming-books,📚 Freely available programming books,"49,728",-
1,alan2207 / bulletproof-react,"🛡️ ⚛️ A simple, scalable, and powerful archite...",913,TypeScript
2,streamxhub / streamx,Make stream processing easier! Flink & Spark d...,470,Java
3,PlayCover / PlayCover,Community fork of PlayCover,155,Swift
4,MystenLabs / sui,"Sui, a next-generation smart contract platform...","1,260",Rust
5,unifyai / ivy,The Unified Machine Learning Framework,972,Python
6,devsuperior / sds-dsmeta,在线云盘、网盘、OneDrive、云存储、私有云、对象存储、h5ai,34,-
7,zhaojun1998 / zfile,"Official implementation of the paper ""DINO: DE...","1,224",Java
8,IDEACVR / DINO,A curated list of awesome learning material,38,Python
9,afontcu / awesome-learning,A flexible package manager that supports multi...,31,-
10,spack / spack,⛷ Lightweight Markdown app to help you write g...,"1,659",Python
11,tw93 / MiaoYan,Boilerplate Code for the Vue.js Forge Conference,76,Swift
12,vueschool / vuejs-forge-boilerplate,Light LDAP implementation,167,TypeScript
13,nitnelave / lldap,Beautiful charts for iOS/tvOS/OSX! The Apple s...,42,Rust
14,danielgindi / Charts,A free open source IT asset/license management...,"5,311",Swift
15,snipe / snipe-it,H5 Games,"2,217",PHP
16,arcxingye / EatKano,Leveraging BERT and c-TF-IDF to create easily ...,"1,823",JavaScript
17,MaartenGr / BERTopic,A list of helpful front-end related questions ...,368,Python
18,h5bp / Front-end-Developer-Interview-Questions,Code included as part of the MustLearnKQL blog...,"10,535",Nunjucks
19,rod-trent / MustLearnKQL,".NET MAUI is the .NET Multi-platform App UI, a...",76,-
20,dotnet / maui,GoogleTest - Google Testing and Mocking Framework,952,C#
21,google / googletest,Recursos gratuitos para empezar a ser un Front...,"8,687",C++
22,mrcodedev / frontend-developer-resources,Converts .py to .exe using a simple graphical ...,359,-
23,brentvollebregt / auto-py-to-exe,A server software reimplementation for a certa...,435,JavaScript

In [14]:
df5.to_csv("Trendong Repositories.csv")
dr5.close()

# Q6

In [24]:
dr6=webdriver.Chrome('C:\web driver\chromedriverupdated1.exe')
dr6.get('https://www.billboard.com/')
dr6.maximize_window()
time.sleep(20)

In [25]:
try :
    charts=dr6.find_element_by_link_text("CHARTS")
    charts.click()
    time.sleep(20)
except:
    charts=dr6.find_element_by_xpath("//li[@class='o-nav__list-item lrv-u-align-items-center lrv-u-flex']")
    charts.click()
    time.sleep(10)

In [39]:
try :
    hot=dr6.find_element_by_xpath("//li[@class='o-nav__list-item ']/a")
    url30=hot.get_attribute("href")
    dr6.get(url30)
    time.sleep(5)         
    
except:
    hot=dr6.find_element_by_link_text("Hot 100")
    hot.click()
    time.sleep(20)

In [40]:
time.sleep(10)
Dict6={}
Dict6["Song Name"]=[]
Dict6["Artist name"]=[]
Dict6["Last week rank"]=[]
Dict6["Peak rank"]=[]
Dict6["Weeks on board"]=[]
song=dr6.find_elements("xpath","//div[@class='o-chart-results-list-row-container']/ul/li[4]/ul/li/h3")
art=dr6.find_elements("xpath","//div[@class='o-chart-results-list-row-container']/ul/li[4]/ul/li[1]/span")
last=dr6.find_elements("xpath","//div[@class='o-chart-results-list-row-container']/ul/li[4]/ul/li[4]")
peak=dr6.find_elements("xpath","//div[@class='o-chart-results-list-row-container']/ul/li[4]/ul/li[5]")
weeks=dr6.find_elements("xpath","//div[@class='o-chart-results-list-row-container']/ul/li[4]/ul/li[6]")

for s,a,l,p,w in zip(song,art,last,peak,weeks):
    Dict6["Song Name"].append(s.text)
    Dict6["Artist name"].append(a.text)
    Dict6["Last week rank"].append(l.text)
    Dict6["Peak rank"].append(p.text)
    Dict6["Weeks on board"].append(w.text)
    
df6=pd.DataFrame(Dict6)
df6

,Song Name,Artist name,Last week rank,Peak rank,Weeks on board
0,As It Was,Harry Styles,1,1,14
1,About Damn Time,Lizzo,3,2,12
2,First Class,Jack Harlow,2,1,13
3,Running Up That Hill (A Deal With God),Kate Bush,6,4,26
4,Wait For U,Future Featuring Drake & Tems,4,1,10
...,...,...,...,...,...
95,Best Thing Since Backroads,Jake Owen,-,96,1
96,U-Digg,"Lil Baby, 42 Dugg & Veeze",82,52,3
97,Unstoppable,Sia,-,98,1
98,Rich Minion,Yeat,-,99,1
99,Bad Habit,Steve Lacy,-,100,1

In [41]:
df6.to_csv("Top 100 songs on billboard.csv")

In [42]:
dr6.close()

# Q 7

In [43]:
dr7=webdriver.Chrome('C:\web driver\chromedriverupdated1.exe')
dr7.get('https://www.naukri.com/naukri-dot-com-recruiters')
dr7.maximize_window()
time.sleep(10)




Dict7={}
Dict7["Name"]=[]
Dict7["Designation"]=[]
Dict7["Company"]=[]
Dict7["Skills they hire for"]=[]
Dict7["Location"]=[]
name7=dr7.find_elements("xpath","//p[@class='highlightable']/a/span")
desg7=dr7.find_elements("xpath","//span[@class='ellipsis clr']")
comp7=dr7.find_elements("xpath","//p[@class='highlightable']/a[2]")
skill7=dr7.find_elements("xpath","//div[@class='hireSec highlightable']")
loc7=dr7.find_elements("xpath","//p[@class='highlightable']")

for  n,d,c,s,l in zip(name7,desg7,comp7,skill7,loc7):
    Dict7["Name"].append(n.text)
    Dict7["Designation"].append(d.text)
    Dict7["Company"].append(c.text)
    Dict7["Skills they hire for"].append(s.text)
    try:
        Dict7["Location"].append(l.text.split('\n')[3])
    except:
        Dict7["Location"].append('-')

df7=pd.DataFrame(Dict7)    
df7

,Name,Designation,Company,Skills they hire for,Location
0,Mehak Goel,Talent Acquisition Specialist,Naukri.com,"Recruiter, Customer Service, Relationship Mana...",Noida
1,HR,Company Recruiter,Naukri.com,Not Specified,Noida
2,Shweta Paul,Assistant Manager Human Resources,Naukri.com,Not Specified,Delhi
3,Dev Chinmay,Assistant Vice President Hr,Shining Stars Institutions and Travels...,Not Specified,Lucknow
4,Prerna Kanojia,Recruitment Consultant,Info edge India Ltd.(Naukri.com),Not Specified,Noida
5,A Pratham Bhardwaj,Human Resources,FAREPORTAL India Private Limited,Not Specified,Gurgaon
6,Aadarash Chaudhary,HR AT GLOBAL ANALATICS,JOB PROVIDER AT Naukri.com,"passion with his work work very hard, love job...",Mumbai
7,Ashish Prakash,Sr. Manager- Naukri e-Hire,Naukri.com,Have been working with hundered of IT &amp; No...,Delhi
8,Diksha Kaul,Assistant Manager Recruitments Product...,Infoedge India Limited(Naukri.com),"Sales, IT, Non IT, Marketing",Gurgaon
9,Padmaja Ramaswamy,Recruitment Consultant,Quadrangle Search,Tata Global Beverages Ltd,Noida
10,Priya Panjwani,Manager Client Servicing,"Naukri.com, Infoedge",Not Specified,Noida
11,arodek Technology,HR Team,Arodek Technology Consulting Pvt. Ltd,".net, php, android, java, Iphone Development, ...",Kolkata
12,Sazzad Shaikh,Company HR,eClerx Services Ltd.,Not Specified,Mumbai
13,Kunal,Senior Recruiter,naukri.com,"design, technology, managment",Delhi
14,mh anwar hussain,RECRUITER,ah&amp;co,Customer Service,Hyderabad / Secunderabad
15,Chhaya Yadav,Recruiter,Recruitersgig Consultants,"General Management, Project Management, Projec...",Gurgaon
16,Rituraj Palan,Talent Acquisition Specialist,Sutra Services Pvt. LTD,"Hr, Bd, Accounting, Digital Marketing, Market ...",Mumbai
17,Chetna Verma,Human Resources Executive,JIVA AYURVEDIC PHARMACY LTD.,"Retail, Sales Represntative, distribution, IT ...",Faridabad
18,Deepika Parsekar,Company HR,MUrgency Global Services Private Ltd.,"Area Sales Manager, Associate Marketing Manage...",Mumbai
19,Akshay Doshi,Company HR,SM Global Solutions,"Application Development, Ios, Xcode, User Inte...",Mumbai
20,Sheel Dogra,company HR,Sharda BPO,"Technical Support, Technical Sales",Noida
21,Mohammad Shahid Perwez,Recruitment Manager,JOB N SKILL,"IndiaMART InterMESH Limited, Serco BPO, Meritn...",Delhi
22,Iken Solutions,Recruiter,Iken Solutions,"Java Developer, .Net Developer",Navi Mumbai
23,Pragya Sharma,Recruitment Manager,Info Edge India Ltd.,Not Specified,Noida
24,Manpreet Kaur,Talent Acquisition,Info Edge,"Fraud Analysis, Web Content Writing",Noida
25,Naved Malik,Assistant Manager Recruitment,Watermelon HR Services Pvt Ltd,"Recruitment, HR, Client Meeting, Hr Recruiter,...",Delhi
26,RICHA ASTHANA,HR Manager,Craterzone Pvt.Ltd.,"android, java, objectivec, iphone, blackberry,...",Noida
27,Miracle HR Solution,Manager HR,Miracle Group,"Engineering Industry, IT Software Industry, Ho...",Vadodara / Baroda
28,G Sriram,Talent Acquisition,CES IT,"Java, Microsoft, Mainframe, Oracle, DBA, SQL, ...",Chennai
29,Priya Kamat,Recruiter,ANI INSTRUMENTS PVT LTD,Not Specified,Mumbai
30,Ashish Kumar Kesarwani,Associate Assistant Manager,Info Edge India Limited,"Business Development, Sales, Hr Executive, Exe...",Noida
31,Kuldeep Jangid,Recruitment Manager,Star Ikon Placement Services,I hire for my clients,Jaipur
32,RoboChamps India,Company HR,RoboChamps,"Robotics, Research, Marketing, Graphic Designi...",Mohali
33,Deepanshu Bhatia,Senior Manager Corporate Accounts @...,Info Edge India Limited,"area sales manager sales executive, sales",Delhi
34,BHARAT GANDHI,Senior Executive Talent Acquisition,Naukri,Not Specified,Delhi
35,Ayushi Tyagi,HR Recruiter,Info Edge,Not Specified,Noida
36,Mansi Negi,Senior Executive Human Resources,Info Edge India Ltd.,"Corporate Functions, Hr, Digital Marketing, Pr...",Noida
37,Kartik Mittal,Senior Executive Human Resources,Info Edge India Ltd.,"Sales, Inside Sales, Content Writing, Quality ...",Noida
38,Excel PTP,HR Manager,Excel PTP,Not Specified,Ahmedabad
39,Kriti Datta,Executive - CS,Naukri.com,Customer Support,Noida
40,Ankita Jain,Lead Recruiter,Recroots,Not Specified,Bhopal
41,rachita,HR Recruiter,k2career Hub,"Digital Marketing, SEO, Display Advertising, G...",Delhi
42,atul,Manager HR Admin,assets infotech,"Software Development, Software Engineering, Co...",Pune
43,vishal anand,HR,Raft infotech pvt ltd,Social Media,coimbatore
44,Rams,HR Lead,Irasol India Pvt Ltd,"Recruitment, Consultant, Hiring, Staffing, Tal...",Chennai
45,Manjunathan D,IT Recruiter,SFJ Business Solutions Pvt Ltd,"Java, C#, Aws, Cloud, Odi, Automation, Seleniu...",Bengaluru / Bangalore
46,Saloni Arneja,Company HR,Info Edge India Ltd.,Not Specified,Noida
47,Deepika Verma,HR Executive Recruitments,Computer Junction Pvt. Ltd. &amp; Greentek...,"sales, Good communication skills, BDE",Delhi
48,Pratik Verma,Senior Manager HR,Orlando Academy and Solutions,"Network Engineering, networking, Network Troub...",Indore
49,Lakshman Muniyandi,Executive HR,"Ajeets Management Consultancy, Mumbai",Engineering / Oil and Gas / Medical / Pharma /...,Mumbai

In [44]:
df7.to_csv("Data Science Recruiters from Naukri.com.csv")

In [45]:
dr7.close()

# Q8

In [46]:
dr8=webdriver.Chrome('C:\web driver\chromedriverupdated1.exe')
dr8.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')
dr8.maximize_window()
time.sleep(10)

columns8=['Rank','Book name','Author name',' Volumes sold','Publisher','Genre']
Dict8={}
for column,index in zip(columns8,range(1,7)):
    tag8=dr8.find_elements("xpath","//div[@class='embed block']/table/tbody/tr/td[{}]".format(index))
    print(index,' : ',len(tag8))
    Dict8[column]=[]
    for i in tag8:
        Dict8[column].append(i.text)
    
df8=pd.DataFrame(Dict8)
df8

1  :  100
2  :  100
3  :  100
4  :  100
5  :  100
6  :  100

,Rank,Book name,Author name,Volumes sold,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [47]:
df8.to_csv("Highest Selling Novels.csv")
dr8.close()

# Q 9

In [49]:
dr9=webdriver.Chrome('C:\web driver\chromedriverupdated1.exe')
dr9.get('https://www.imdb.com/list/ls095964455/')
dr9.maximize_window()
time.sleep(10)

Dict9={}
Dict9["Name"]=[]
Dict9["Year span"]=[]
Dict9["Genre"]=[]
Dict9["Run time"]=[]
Dict9["Ratings"]=[]
Dict9["Votes"]=[]


name=dr9.find_elements("xpath","//h3[@class='lister-item-header']/a")
span=dr9.find_elements("xpath","//h3[@class='lister-item-header']/span[2]")
genre=dr9.find_elements("xpath","//div[@class='lister-item-content']/p[1]/span[5]")
run=dr9.find_elements("xpath","//div[@class='lister-item-content']/p[1]/span[3]")
rating=dr9.find_elements("xpath","//div[@class='ipl-rating-star small']/span[2]")
votes=dr9.find_elements("xpath","//div[@class='lister-item-content']/p[4]/span[2]")

for n,s,g,u,r,v in zip(name,span,genre,run,rating,votes):
    Dict9["Name"].append(n.text)
    Dict9["Year span"].append(s.text)
    Dict9["Genre"].append(g.text)
    Dict9["Run time"].append(u.text)
    Dict9["Ratings"].append(r.text)
    Dict9["Votes"].append(v.text)
    
df9=pd.DataFrame(Dict9)
df9

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,008,073"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,086,166"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"954,623"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"285,391"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"245,048"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,075"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"59,876"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"192,133"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,570"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"231,007"

In [50]:
df9.to_csv("Most Watch TV Series of all time.csv")
dr9.close()

# Q 10

In [51]:
dr10=webdriver.Chrome('C:\web driver\chromedriverupdated1.exe')
dr10.get('https://archive.ics.uci.edu/')
dr10.maximize_window()
time.sleep(10)

All=dr10.find_element_by_link_text("view all data sets")
All.click()
time.sleep(10)

columns10=['Dataset name','Data type','Task','Attribute type','No of instances','No of attribute','Year']
Dict10={}
for column,index in zip(columns10,range(1,8)):
    tag10=dr10.find_elements("xpath","/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[{}]".format(index))
    print(index,' : ',len(tag10))
    Dict10[column]=[]
    for i in tag10:
        Dict10[column].append(i.text)
    
df10=pd.DataFrame(Dict10)
df10.drop(index=df10.index[0],axis=0,inplace=True)
df10

1  :  623
2  :  623
3  :  623
4  :  623
5  :  623
6  :  623
7  :  623

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
5,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
618,Influenza outbreak event prediction via Twit...,Multivariate,Classification,"Integer, Real",75840,525,2020
619,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
620,Maternal Health Risk Data Set,,Classification,,1014,7,2020
621,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
622,Image Recognition Task Execution Times in Mo...,Univariate,Regression,Real,4000,2,2021

In [52]:
df10.to_csv("Details Of Dataset from UCI Repository.csv")
dr10.close()